.container{
    max-width: 20rem;
    margin-top: 5rem;
}

.card{
    min-height: 25rem;
    min-width: 25rem;
}

.form-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 3rem;
    margin-right: 3rem;
}

img{
    max-width: 12rem;
}

input{
    margin-bottom: 0;
}

.btn-sign-up{
    color: blue;
}