<div class="container-fluid">
  <div *ngIf="loading$ | async; else notLoading" class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>

  <ng-template #notLoading>
    <div class="card" style="width: 100rem;">
      <div class="card-body">
        <h2 class="card-title">{{(word$ | async)?.Text}}</h2>
        <p class="card-text">{{(word$ | async)?.Type}}</p>
        <p class="card-text">{{(word$ | async)?.Definition}}</p>
      </div>
    </div>  
  </ng-template>
</div>

