<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Word Of The Day</a>
    <div *ngIf="(isAuthenticated$ | async)! == true" >
      <ul class="navbar-nav">
        <a type="button" class="nav-item btn" (click)="onClickLikedWords()">Liked Words</a>
        <a type="button" class="nav-item btn" (click)="onClickPreviousWords()">Previously Viewed Words</a>
        <a type="button" class="nav-item btn" (click)="signOut()">Sign Out</a>
      </ul>
    </div>
  </div>
</nav>
  