<div class="container-fluid">
    <h1 class="viewname">{{viewname$ | async}}</h1>
    <div *ngIf="(loading$ | async)! == false" >
        <ul class="list-group" *ngIf="words$ | async as words">
            <div class="no-words" *ngIf="words?.length == 0">
                <h3>No {{(viewname$ | async) | lowercase}}.</h3>
            </div>
            <li class="list-group-item" *ngFor="let word of words">
                <div class="card">
                    <div class="card-body">
                    <h2 class="card-title">{{word.Text}}</h2>
                    <p class="card-text">{{word.Type}}</p>
                    <p class="card-text">{{word.Definition}}</p>
                    </div>
                </div> 
            </li>
        </ul>
    </div>
</div>
<div class="container-fluid">
<app-spinner *ngIf= "(loading$ | async)! == true"></app-spinner>
</div>