<div *ngIf="(loading$ | async)! == false" >
    <div class="container">
        <form [formGroup]="form" (ngSubmit)="onSignUp()">
            <div class="form-group has-feedback has-feedback-left">
                <div class="card">
                    <h5 class="card-header text-center">Welcome to Word of the day!</h5>
                    <div class="card-body">
                        <div class="card-title text-center">
                            <img src="../assets/Screen Shot 2021-12-07 at 6.35.09 PM.png" >
                        </div>

                        <label for="signupInput" class="form-label">Username</label>
                        <input type="text" id="signupInput" class="form-control border-right-0" aria-label="Username" placeholder="Username" (input)="onUserInput()" formControlName="username">
                        
                        <label for="signupInput" class="form-label">Email</label>
                        <input type="email" id="signupInput" class="form-control border-right-0" aria-label="Email" placeholder="Email" (input)="onUserInput()" formControlName="email">

                        <div [hidden]="userException == ''" class="alert alert-danger">
                            {{userException}}
                       </div>
                    </div>
                    <button type="submit" class="card-footer btn-lg btn-outline-dark border-0" [disabled]="!form.valid">
                        Sign up
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container-fluid">
    <app-spinner *ngIf= "(loading$ | async)! == true"></app-spinner>
</div>